*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fustat", sans-serif;
}

/* Barra de Navegação (Navbar) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logoib {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-dark-blue);
    /* Ajuste para replicar o logo, se necessário */
}

.nav-links a {
    color: var(--color-text-dark);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px; /* Espaço para o underline da página ativa */
}

.nav-links .active {
    color: #0b2a57;
    border-bottom: 3px solid #0b2a57;
}

/* Botão Primário */
.btn-primary {
    background-color: #f8b809;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    
}

.btn-primary:hover {
    background-color: #e69d00; /* Um pouco mais escuro */
}
/* fim */


.galeria {
  padding: 40px;
  text-align: center;
}

.galeria h2 {
  color: #002855;
  margin-bottom: 30px;
}


.container-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}


.card {
  display: flex;
  align-items: center;
  background-color: #fff3da;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}




.texto {
  flex: 1;
  text-align: left;
  font-size: 15px;
  color: #222;
  margin: 0 40px;
}


.imagem {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background-color: #002855;
  flex-shrink: 0;
  object-fit: cover;
}


.card:nth-child(even) {
  flex-direction: row-reverse;
}

.galeria-header {
      background-color: #002855; /* azul escuro */
      padding: 40px 20px;
      text-align: left;
      color: #ffffff;
    }

    .galeria-header h1 {
      margin: 0;
      margin-left: 80px;
      font-size: 28px;
    }
